{
  "swagger": "2.0",
  "info": {
    "title": "ViaCEP",
    "description": "",
    "version": "1.0"
  },
  "host": "viacep.com.br",
  "basePath": "/ws",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{cep}/json/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cep": {
                  "type": "string",
                  "description": "cep"
                },
                "logradouro": {
                  "type": "string",
                  "description": "logradouro"
                },
                "complemento": {
                  "type": "string",
                  "description": "complemento"
                },
                "bairro": {
                  "type": "string",
                  "description": "bairro"
                },
                "localidade": {
                  "type": "string",
                  "description": "localidade"
                },
                "uf": {
                  "type": "string",
                  "description": "uf"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "description": "Consulta endereço pelo CEP na API ViaCEP",
        "summary": "Consultar CEP",
        "operationId": "consultar-cep",
        "parameters": [
          {
            "name": "cep",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}